<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>loshiReport test</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <!-- <script src="../dist/loshi-report.0.0.1.js"></script> -->
    <script src="../public/lib/loshi-report.0.0.1.js?4b22aac0a13211e89fdfb17a1338eea5"></script>
	<script>
        LoshiReport
          .init({
            reportApi: 'http://localhost:7001/loshi/api/report'
          })
	</script>
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
	<div>
        <h1>loshiReport test</h1>

		<ul>
			<li>1</li>
			<li>2</li>
			<li>3</li>
			<li>4</li>
			<li>5</li>
		</ul>

		<img src="http://idsfafsadf">
		<img src="http://image.uczzd.cn/3238272118782049804.jpg?id=0&from=export&height=140&width=270" id="img1">
	</div>
	<script>
		$(document).ready(function(){
			$.ajax({
		    type: 'get',
		    url: 'http://localhost:7001/com/guest/home/api/shop/getHomeInitInf?getreport=test',
		    success: data => {
		      // console.log(data)
		    }
			})
			
			

			$.ajax({
				url: "test.html",
				context: document.body
			}).done(function() {
				$( this ).addClass( "done" );
			});

		  // fetch('http://localhost:7001/guest/order/api/order/getOrde',{
		  // 	method: 'POST',
		  // }).then(function(response){
		  // 	console.log('++++')
		  // })

		  // var req = new Request('http://localhost:7001/guest/home/api/shop/getHomeInitInfo', {method: 'GET', cache: 'reload'});
		  // fetch(req).then(function(response){
		  // 	console.log('-----')
			// })
			

			setTimeout(function(){
				$.ajax({
		    type: 'post',
				url: 'http://localhost:7001/guest/order/api/order/getOrder',
				data:{
					postreport:'post'
				},
		    success: data => {
		      // console.log(data)
		    }
				})
			},10 * 1000)


		// console.log(fafsdfsdfasfd)
			});

	</script>
</body>
</html>


